@import url(//db.onlinewebfonts.com/c/327db0e396c83704b5d2f7663a7ffe60?family=Fruktur);

body, html {
    height: 100%;
    margin: 0px;
}


body {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 10% 90%;
    grid-template-areas: 
        "header header"
        "sidebar main"
}

button {
    font-size: 16px;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 50px;
    width: 50%;
    margin-bottom: 5%;
    color: black;
}

button:hover{
    opacity: 80%;
    transform:scale(1.2);
}

input {
    width: 50%;
}

#project-title{
    grid-area: header;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-size: 48px;
    font-family: 'Fruktur','Times New Roman', 'Arial';
}

#draw-button{
    background-color: lightgreen;
}

#erase-button{
    background-color: white;
}

#color-button{
    background: lightblue;
}

#random-colors-button{
    background: linear-gradient(90deg, Red, Orange, Yellow, Green, Blue, Indigo,violet); 
}

#sidebar{
    grid-area: sidebar;
    margin-left: 30%;
}

#container {
    display: inline-flex;
    flex-wrap: wrap;
    align-content:start;
    width: 80%;
    height: 80%;
    border: 1px solid black;
}

#clear-grid-button{
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: red;
}
